BasedOnStyle: Google
---
Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
PackConstructorInitializers: Never
SortIncludes: Never